<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjl.testmodule">

    <application>
        <activity android:name=".retrofit.RetrofitActivity"></activity>
        <activity android:name=".RxJavaTestActivity" />
    </application>

</manifest>