<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjl.testmodule">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <activity android:name=".retrofit.mvp.RxMvpActivity"></activity>
        <activity android:name=".retrofit.RetrofitActivity" />
        <activity android:name=".RxJavaTestActivity" />
    </application>

</manifest>