<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjl.testmodule">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.hjl.commonlib.base.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="测试组件"
        android:theme="@style/AppTheme">
        <activity android:name=".TestMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MusicViewActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".retrofit.LoginMVPActivity"></activity>
        <activity android:name=".retrofit.RetrofitActivity"></activity>
        <activity android:name=".RxJavaTestActivity">


        </activity>
    </application>

</manifest>