<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjl.module_main">

    <application>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/MusicAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.KugouWebActivity" />
        <activity android:name=".ui.activity.UserQRdetailActivity" />
        <activity android:name=".ui.activity.MusicListActivity" />
        <activity android:name=".ui.activity.MusicDetailActivity" />
        <activity android:name=".ui.activity.UserSettingActivity" />
        <activity android:name=".ui.activity.MainActivity">

        </activity>

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>