<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjl.module_main">

    <application>
        <activity android:name="com.hjl.module_main.ui.activity.MusicListActivity"></activity>
        <activity android:name="com.hjl.module_main.ui.activity.MusicDetailActivity" />
        <activity android:name="com.hjl.module_main.ui.activity.UserSettingActivity" />
        <activity android:name="com.hjl.module_main.ui.activity.MainActivity"
            android:theme="@style/MusicAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.hjl.module_main.ui.fragment.MusicService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>