<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjl.module_main" >


    <application>

        <service
            android:name="com.hjl.module_main.mvp.fragment.MusicService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
